.App {
  padding: 10px;
}

button {
  margin-top: 20px;
  font-size: large;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

.message {
  text-align: left;
  margin-top: 40px;
  word-break: break-all;
}